<header class="site-header" role="banner" aria-label="Site header">
  <div class="container flex between center">
    <a class="brand" href="{{ "/" | relative_url }}">
     <img src="{{ 'assets/img/logo.svg' | relative_url }}" alt="Easy Tech Seniors logo" class="logo"/>
      <span>Easy Tech Seniors</span>
    </a>
    <nav aria-label="Primary">
      <button id="navToggle" aria-controls="navMenu" aria-expanded="false" class="nav-toggle">Menu</button>
      <ul id="navMenu" class="nav">
  <li><a href="{{ '' | relative_url }}">Home</a></li>
  <li><a href="{{ 'seminars'  | relative_url }}">Seminars</a></li>
  <li><a href="{{ 'services'  | relative_url }}">Services</a></li>
  <li><a href="{{ 'resources' | relative_url }}">Resources</a></li>
  <li><a href="{{ 'contact'   | relative_url }}">Contact</a></li>
</ul>
    </nav>
  </div>
</header>
